<mat-card class="playlist-card" *ngIf="playlist">
  <mat-card-header>
    <mat-card-title>{{playlist.title}}</mat-card-title>
    <div class="playlist-info">
      <p>{{playlist.userId}}</p>
      <p>{{playlist.songs.length}} Songs</p>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="ag-theme-alpine" style="height: 350px; width: 100%;">
      <songs-grid [songs]="playlist.songs"></songs-grid>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions-container">
      <div class="button-group">
        <button mat-button>
          <mat-icon>shuffle</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>skip_next</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>repeat</mat-icon>
        </button>
        <div class="volume-control">
          <mat-icon>volume_down</mat-icon>
          <mat-slider class="volume-slider" min="0" max="100" thumbLabel>
            <input matSliderThumb>
          </mat-slider>
          <mat-icon>volume_up</mat-icon>
        </div>
      </div>
    </div>
    <div class="time-slider-container">
      <span class="time-label">0:00</span>
      <mat-slider class="action-slider">
        <input matSliderThumb>
      </mat-slider>
      <span class="time-label">3:45</span>
    </div>
  </mat-card-actions>
</mat-card>